.title {
  display: block;
  color: var(--c2);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.option-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 3rem;
}

.option-list li {
  border-bottom: 1px solid var(--c5);
  border-radius: 0.25rem;
  padding: 1.5rem 1rem;
}

.option-list li.active {
  box-shadow: var(--shadow);
  border: none;
  transition: transform 0.2s;
  transform: scale(1.05);
}

.option-list .label {
  color: var(--b3);
  font-size: 1rem;
  font-weight: 600;
}

.option-list .description {
  color: var(--c3);
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
}

.option-list .button {
  all: unset;
  background-color: var(--b0);
  color: var(--b3);
  font-weight: 700;
  letter-spacing: 0.05rem;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.25rem 1rem;
}

.option-list .active .button {
  background-color: var(--c7);
  color: var(--c5);
  transition: all 0.3s;
  pointer-events: none;
}

.option-list:has(.cashback) .button {
  margin-bottom: 0.25rem;
}

.option-list .cashback {
  display: block;
  color: var(--c4);
  font-size: 0.75rem;
  text-align: end;
}
