.container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--b0);
  border-radius: 0.25rem;
  padding: 0 1rem;
  height: 2.5rem;
}

.search-icon {
  fill: var(--c3);
  width: 0.875rem;
}

.input {
  all: unset;
  appearance: none;
  align-self: stretch;
  color: var(--v2);
  font-size: 1rem;
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.clear-button {
  all: unset;
  cursor: pointer;
}
