.specialty-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.75rem;
  list-style: none;
}

.input {
  display: none;
}

.input:checked ~ .item {
  border-color: var(--b3);
  transform: scale(1.025);
  box-shadow: var(--shadow);
}

.input:checked ~ .item .label {
  font-weight: 600;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--b0);
  border-radius: 0.25rem;
  transition: 0.2s;
  padding: 0.5rem 1rem;
}

.item .icon {
  fill: #5b59a6;
  width: 1rem;
}

.item .label {
  color: var(--c3);
  font-size: 0.875rem;
}
