.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 1rem;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--c7);
  border: 1px solid var(--b0);
  border-radius: 0.25rem;
  overflow: hidden;
  padding: 0.5rem 1rem;
  height: 50px;
}

.label :is(input) {
  all: unset;
  appearance: none;
  color: transparent;
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.label input::-webkit-calendar-picker-indicator {
  position: absolute;
  background: transparent;
  color: transparent;
  cursor: pointer;
  inset: 0;
  width: auto;
  height: auto;
}

.label .icon {
  fill: var(--b3);
  width: 1.25rem;
}

.label .value {
  font-size: 0.875rem;
}
